body {
  background-color: var(--theme-color);
  padding: calc(var(--gutter) * 2) var(--gutter);
  margin: 0;
  color: var(--white);

  /* welcome-pageで使う変数 */
  --margin: 45px auto;
}

span {
  text-decoration-line: underline;
}

.title-wrapper {
  display: grid;
  grid-template-rows: 80px auto;
  grid-template-areas: "logo title";
  align-items: center;
  max-width: 320px;
  margin: 0 auto;

}
.logo {
  grid-area: logo;
  object-fit: contain;
  object-position: 50% 50%;
  width: 70px;
  height: 70px;
  margin: 0;
  padding: 0;
}
.title {
  grid-area: title;
  width: max-content;
  margin: 0;
  padding: 0;
}

.x-scroll__welcome{
  display: flex;
  overflow: auto;
  max-width: 320px;
  margin: 0 auto;
}
.unit {
  display: block;
  min-width: 300px;
  max-width: 320px;
  margin: 15px 5px;
  padding-bottom: 5px;
  background-color: var(--event-color);
  border-radius: var(--roundness-general);
}

@media screen and (max-width: 321px){
  .subtitle {
    font-size: 1.3rem;
  }
  .unit{
    min-width: 260px;
    max-width: 290px;
  }
  .photo{
    width: 100px;
    max-height: 177px;
  }
}


.subtitle {
  text-align: center;
}

.wrapper {
  display: grid;
  justify-content: center;
  width: 100%;
}

.icon {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  border-radius: 50%;
  margin-top: 15px;
}

.desc {
  width: 90%;
  margin: 15px auto;
}

.photo-wrapper{
    display: flex;
    justify-content: center;
    width: 270px;
    margin: 0 auto;
}
.photo {
  min-width: 100px;
  max-width: 140px;
  height: 247px;
  margin: 0 5px;
}

.sns__logo{
  margin: 10px 15px;
}

.see-genre {
  background-color: var(--white);
  color: var(--theme-color);
  font-weight: bold;
}



@media screen and (min-width: 768px){
  .title-wrapper{
    margin: 70px auto 45px;
    max-width: 500px;
    font-size: 30px;
  }
  .x-scroll__welcome{
    max-width: 1000px;
    margin: 45px auto 45px;
}
