<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" href="../../app/assets/stylesheets/unit.css" />
    <link
      rel="stylesheet"
      href="../../app/assets/stylesheets/master_revised.css"
    />
    <link rel="stylesheet" href="../../app/assets/stylesheets/event-detail.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
    <link
      rel="icon"
      href="../assets/images/mocchy-logo2.png"
    />
    <title>Mocchy</title>
  </head>
  <body>
    <main>
      <!-- トップイメージはこちら -->
      <div class="empty-space"></div>
      <img
        class="event-detail__top-img"
        src="../assets/images/nagoya.yunesuko.jpg"
      />

      <!-- 説明文はこちら -->
      <div class="event-detail__about">
        <div class="event-detail__title">ユネスコ公演会</div>
        <span class="see-more">全て表示</span>
        <span class="detail__desc">
            南山新入生、まだSTELLAを利用したことのない方！ 図書館やラーニングコモンズの他にもゆったり自分の自由な時間を過ごせる場所があること、ご存知ですか？ 4月からIKEAの家具を導入して新規一転したSTELLAでは、4／29(月)〜5／3(金)までHealing week 心落ち着く音楽やハーブティーなど皆さんがくつろげる空間を準備しますのでぜひいらしてください！<br><br> 					
コンテンツの内容はストレッチ、瞑想（メディテーション）、Healing効果の期待できるHealing music、アロマの紹介などを予定しています！Healing効果のあるコンテンツを皆さんに紹介し、Stellaで心身を癒しちゃいましょう♪					
        </span>
      </div>

      <!-- 概要はこちら -->
      <div class="detail__info">
        <img
          class="detail__icon"
          src="https://image.flaticon.com/icons/svg/59/59252.svg"
          alt="a"
        />
        <span>7/17</span>
        <img
          class="detail__icon"
          src="https://image.flaticon.com/icons/svg/34/34250.svg"
          alt="a"
        />
        <span>南山大学Q棟502教室</span>
        <img
          class="detail__icon"
          src="https://image.flaticon.com/icons/svg/25/25188.svg"
          alt="a"
        />
        <span>無料</span>
      </div>

      <!-- イメージはこちら -->
      <div class="detail__subtitle">イメージ</div>
      <div class="detail__wrapper">
          <img
            class="detail__arrowtwo"
            src="https://cdn3.iconfinder.com/data/icons/simple-arrows-essentials/48/v-10-512.png"
          />
          <div class="detail__scroll">
            <img class="detail__scr-item" src="../assets/images/nagoya.yunesuko1.png" />
            <img class="detail__scr-item" src="../assets/images/stella-img3.jpg" />
            <img class="detail__scr-item" src="../assets/images/stella-img4.jpg" />
            <img class="detail__scr-item" src="../assets/images/stella-img2.jpg" />
          </div>
          <img
            class="detail__arrowone"
            src="https://cdn3.iconfinder.com/data/icons/simple-arrows-essentials/48/v-09-512.png"
          />
        </div>

      <!-- ハッシュタグはこちら -->
      <div class="detail__subtitle">こんな人におすすめ</div>
      <div class="detail__hashtag">
        <ul>
          <li>＃友達が欲しい新入生！</li>
          <li>＃何か新しくはじめたい2年生！</li>
          <li>＃国際理解・異文化理解に興味がある学生</li>
          <li>＃環境・社会問題・まちづくりに興味ある学生</li>
          <li>＃1人でも大歓迎！</li>
        </ul>
      </div>

      <!-- 参加ボタンはこちら -->
      <div class="event-detail__apply" herf="#">当日会場にお越しください</div>

      <!-- 主催団体はこちら -->
      <div class="detail__subtitle">このイベントの主催者</div>
      <div class="general-info">
        <img
          class="general-info__icon"
          src="../assets/images/nagoya.yunesuko1.png"
          alt="icon"
        />
        <p class="general-info__slogan">グローバル社会の手助けを</p>
        <h2 class="general-info__title" href="#">名古屋ユネスコ協会</h2>
      </div>

    </main>

    <footer class="footer">
      <img
        src="http://flat-icon-design.com/f/f_event_100/svg_f_event_100_0nbg.svg"
        alt="Mocchy logo"
        class="footer__logo"
      />
    </footer>
    <script src="../../app/assets/javascripts/master.js"></script>
    <script src="../../app/assets/javascripts/detail.js"></script>
  </body>
</html>
