<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/stylesheets/unit.css" />
    <link rel="stylesheet" href="../assets/stylesheets/master_revised.css" />
    <link rel="stylesheet" href="../assets/stylesheets/org-detail.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
    <link
      rel="icon"
      href="../assets/images/mocchy-logo2.png"
    />
    <title>日中橋</title>
  </head>
  <body>
    <!--スマホ　ヘッダー -->
    <div class="header">
      <img
        class="header__icon"
        src="../assets/images/mocchy-logo2.png"
      />
      <a class="header__title" href="home.html">Mocchy</a>
    </div>

    <main>
      <!-- タイトルはこちら -->
      <div class="detail__title">
        <img
          class="general-info__icon"
          src="../assets/images/nicchukyo-logo.jpeg"
          alt="icon"
        />
        <span class="detail__name">日中橋</span>
      </div>

      <!-- 活動写真はこちら -->
      <div class="detail__subtitle">活動を見る</div>
      <div class="detail__wrapper">
        <img
          class="detail__arrowtwo"
          src="https://cdn3.iconfinder.com/data/icons/simple-arrows-essentials/48/v-10-512.png"
        />
        <div class="detail__scroll">
          <img
            class="detail__scr-item"
            src="../assets/images/nicchukyo-img7.png"
          />
          <img
            class="detail__scr-item"
            src="../assets/images/nicchukyo-img2.png"
          />
          <img
            class="detail__scr-item"
            src="../assets/images/nicchukyo-img3.png"
          />
          <img
            class="detail__scr-item"
            src="../assets/images/nicchukyo-img4.png"
          />
          <img
            class="detail__scr-item"
            src="../assets/images/nicchukyo-img5.png"
          />
        </div>
        <img
          class="detail__arrowone"
          src="https://cdn3.iconfinder.com/data/icons/simple-arrows-essentials/48/v-09-512.png"
        />
      </div>

      <!-- 概要文はこちら -->
      <div class="detail__subtitle">概要を知る</div>
      <div class="detail__desc">
        日中橋は日本人学生と中華圏の留学生との🇨🇳国際交流 x
        友達作り🇯🇵をコンセプトに活動する団体です✨<br /><br />
        「周りにいるけど、中々接点のない留学生」<br />
        彼らと一緒にクリエイティブな活動をして仲良くなりませんか？<br /><br />
        昨年度は<br />「🍠台湾流行デザート🍨を作ろう！」<br />「徳川園で紅葉狩り🍁」<br />「🏓卓球トーナメント＆クリスマス会🎄！」<br />などたくさんのユニークな活動を開催しました。<br /><br />
        中国語や事前知識は一切不要です！<br />
        留学生と面白いことをやって、仲良くなりたいみんな、活動でお待ちしております😍
      </div>
      <div class="see-more_box">
        <p class="see-more">全て表示</p>
      </div>

      <!-- 概要はこちら -->
      <div class="detail__info">
        <img
          class="detail__icon"
          src="https://image.flaticon.com/icons/svg/59/59252.svg"
          alt="a"
        />
        <span>月17時~19時</span>
        <img
          class="detail__icon"
          src="https://image.flaticon.com/icons/svg/34/34250.svg"
          alt="a"
        />
        <span>南山と名大</span>
      </div>

      <!-- SNSで繋がるはこちら -->
      <div class="detail__subtitle">SNSで繋がる</div>
      <div class="detail__contact">
        <a class="linkcover" href="https://www.instagram.com/nicchukyo/">
          <img class="detail__logo" src="../assets/images/instagram-logo.svg" />
        </a>
        <a class="linkcover" href="https://line.me/R/ti/g/YVazAdkXex">
          <img class="detail__logo" src="../assets/images/line-logo.png" />
        </a>
        <a class="linkcover" href="">
          <img
            class="detail__logo"
            src="../assets/images/google-forms-logo.svg"
          />
        </a>
      </div>

      <!-- メンバーからのひとことはこちら -->
      <div class="detail__subtitle">メンバーからのひとこと</div>
      <div class="comment">
        <img class="comment__icon" src="../assets/images/nicchukyo-icon1.png" />
        <div class="comment__name">かっきー</div>
        <div class="comment__info">南山総合政策学科</div>
        <p class="comment__title">貴重な体験をここで</p>
        <p class="comment__desc">日本にいながら中華系の留学生とお友達になれます！言語に自信がなくても、楽しめる企画ばかりで心配なし！気軽にお友達作り、国際交流しませんか？</p>
      </div>
      <div class="comment">
        <img
          class="comment__icon"
          src="../assets/images/nicchukyo-icon2.png"
        />
        <div class="comment__name">なな</div>
        <div class="comment__info">南山アジア学科</div>
        <p class="comment__title">視野が広がる🌎</p>
        <p class="comment__desc">高校まで外国の友達ができる機会は少ないですが、日中橋で中国台湾香港の友達とお話をしたり、遊びに行くことで、たくさんの文化を学べました！また、改めて視野や考え方が広くなったように感じます✨✨</p>
      </div>
      <div class="comment">
        <img
          class="comment__icon"
          src="../assets/images/nicchukyo-icon3.jpg"
        />
        <div class="comment__name">うどん</div>
        <div class="comment__info">名大工学部</div>
        <p class="comment__title">橋を作って海を越える</p>
        <p class="comment__desc">地理から考えると日本と中国は近いですが、心の距離は遠いです。日中橋に入って、お互いの誤解を解くのはもちろん、たくさんの友達と大切な思い出ができました。</p>
      </div>

      <!-- ハッシュタグはこちら -->
      <div class="detail__subtitle">こんな人におすすめ</div>
      <div class="detail__hashtag">
        <ul>
          <li>＃外国語はできないけど、留学生と仲良くなりたい！</li>
          <li>＃新しい世界を知りたい！</li>
          <li>＃国際交流をしたい！</li>
          <li>＃中国や中国語に興味がある！</li>
          <li>＃留学に行きたい！</li>
        </ul>
      </div>

      <!-- SNSで繋がるはこちら -->
      <div class="detail__subtitle">SNSで繋がる</div>
      <div class="detail__contact">
        <a class="linkcover" href="https://www.instagram.com/nicchukyo/">
          <img class="detail__logo" src="../assets/images/instagram-logo.svg" />
        </a>
        <a class="linkcover" href="https://line.me/R/ti/g/YVazAdkXex">
          <img class="detail__logo" src="../assets/images/line-logo.png" />
        </a>
        <a class="linkcover" href="">
          <img
            class="detail__logo"
            src="../assets/images/google-forms-logo.svg"
          />
        </a>
      </div>
    </main>

    <footer class="footer">
      <img
        src="http://flat-icon-design.com/f/f_event_100/svg_f_event_100_0nbg.svg"
        alt="Mocchy logo"
        class="footer__logo"
      />
    </footer>
  </body>
  <script src="../../app/assets/javascripts/master.js"></script>
  <script src="../../app/assets/javascripts/detail.js"></script>
</html>
