<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../app/assets/stylesheets/master_revised.css" />
    <link rel="stylesheet" href="../../app/assets/stylesheets/unit.css" />
    <link rel="stylesheet" href="../../app/assets/stylesheets/master_revised.css" />
    <link rel="stylesheet" href="../../app/assets/stylesheets/org-detail.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
    <title>南山基礎スキー部～GLACIER～</title>
  </head>
  <body>
    <!--スマホ　ヘッダー -->
    <div class="header">
      <img
        class="header__icon"
        src="../assets/images/mocchy-logo2.png"
      />
      <a class="header__title" href="home.html">Mocchy</a>
    </div>

    <main>
      <!-- タイトルはこちら -->
      <div class="detail__title">
        <img
          class="general-info__icon"
          src="../../app/assets/images/基礎スキー部-logo.gif"
          alt="icon"
        />
        <span class="detail__name">南山基礎スキー部</br>～GLACIER～</span>
      </div>

      <!-- 活動写真はこちら -->
      <div class="detail__subtitle">活動を見る</div>
      <div class="detail__wrapper">
        <img
          class="detail__arrowtwo"
          src="https://cdn3.iconfinder.com/data/icons/simple-arrows-essentials/48/v-10-512.png"
        />
        <div class="detail__scroll">
          <img class="detail__scr-item" src="../../app/assets/images/基礎スキー部-image1.jpg" />
          <img class="detail__scr-item" src="../../app/assets/images/基礎スキー部-image2.jpg" />
          <img class="detail__scr-item" src="../../app/assets/images/基礎スキー部-image3.jpg" />
          <img class="detail__scr-item" src="../../app/assets/images/基礎スキー部-image4.jpg" />
          <img class="detail__scr-item" src="../../app/assets/images/基礎スキー部-image5.jpg" />
          <img class="detail__scr-item" src="../../app/assets/images/基礎スキー部-image7.jpg" />
        </div>
        <img
          class="detail__arrowone"
          src="https://cdn3.iconfinder.com/data/icons/simple-arrows-essentials/48/v-09-512.png"
        />
      </div>

      <!-- 概要文はこちら -->
      <div class="detail__subtitle">概要を知る</div>
      <div class="detail__desc">
      "基礎スキー"という競技をバッジテスト(スキー検定)の合格や各種大会での活躍を目標に活動してます！
      </div>
      <div class="see-more_box">
        <p class="see-more">全て表示</p>
      </div>

      <!-- 概要はこちら -->
      <div class="detail__info">
        <img
          class="detail__icon"
          src="https://image.flaticon.com/icons/svg/59/59252.svg"
          alt="a"
        />
        <span>冬季：合宿、インライン</br>夏季：毎週水曜</br>　　　インラインスケート</span>
        <img
          class="detail__icon"
          src="https://image.flaticon.com/icons/svg/34/34250.svg"
          alt="a"
        />
        <span>南山体育館、戸狩温泉スキー場</span>
      </div>

                  <!-- SNSで繋がるはこちら -->
                  <div class="detail__subtitle">SNSで繋がる</div>
                  <div class="detail__contact">
                    <a class="linkcover" href="https://m.facebook.com/nanzan.ski.glacier/?locale2=ja_JP">
                      <img class="detail__logo" src="../assets/images/facebook-logo.png" />
                    </a>
                    <a class="linkcover" href="https://twitter.com/ski_glacier">
                      <img class="detail__logo" src="../assets/images/twitter-logo.svg" />
                    </a>
                    <a class="linkcover" href="https://nanzan-glacier.jimdo.com/">
                      <img class="detail__logo" src="../assets/images/web-logo.svg" />
                    </a>
                  </div>

      <!-- メンバーからのひとことはこちら -->
      <div class="detail__subtitle">メンバーからひとこと</div>

      <div class="comment">
        <img class="comment__icon" src="../../app/assets/images/基礎スキー部-image5.jpg" />
        <div class="comment__name">K.T</div>
        <div class="comment__info">理工学部システム数理学科</div>
        <p class="comment__title">充実した大学生活</p>
        <p class="comment__desc">
          大学から何か新しいことやりたい人や、スキーやったことあるよって人大大大募集中です！1から優しく教えます！先輩も優しく、楽しく、明るい部活です！バッジテストで資格を取ると就活の面接でエピソードとして間違いなし！
        </p>
      </div>

      <div class="comment">
        <img class="comment__icon" src="../../app/assets/images/基礎スキー部-image5.jpg" />
        <div class="comment__name">Y.M</div>
        <div class="comment__info">経営学部経営学科</div>
        <p class="comment__title">大学生ならではの青春体験</p>
        <p class="comment__desc">
          とにかく楽しい部活です！いい仲間が沢山います。先輩もみんな丁寧で優しい人ばっかです！大学から何か新しいことに挑戦したい人、なにか熱中できるものが欲しい人、生涯の仲間を手に入れたい人はぜひスキー部に入って私たちと青春してみませんか？
        </p>
      </div>

      <div class="comment">
        <img class="comment__icon" src="../../app/assets/images/基礎スキー部-image5.jpg" />
        <div class="comment__name">M.H</div>
        <div class="comment__info">人文学部人類文化学科</div>
        <p class="comment__title">今しか出来ないことを！</p>
        <p class="comment__desc">
          大学生でしかできない、この部活でしかできない経験をしてみませんか？スキーをするのはもちろんのこと、夏はBBQをしたり活発に活動中です！
        </p>
      </div>



            <!-- SNSで繋がるはこちら -->
            <div class="detail__subtitle">SNSで繋がる</div>
            <div class="detail__contact">
              <a class="linkcover" href="https://m.facebook.com/nanzan.ski.glacier/?locale2=ja_JP">
                <img class="detail__logo" src="../assets/images/facebook-logo.png" />
              </a>
              <a class="linkcover" href="https://twitter.com/ski_glacier">
                <img class="detail__logo" src="../assets/images/twitter-logo.svg" />
              </a>
              <a class="linkcover" href="https://nanzan-glacier.jimdo.com/">
                <img class="detail__logo" src="../assets/images/web-logo.svg" />
              </a>
            </div>
    </main>

    <footer class="footer">
      <img
        src="http://flat-icon-design.com/f/f_event_100/svg_f_event_100_0nbg.svg"
        alt="Mocchy logo"
        class="footer__logo"
      />
    </footer>
  </body>
  <script src="../../app/assets/javascripts/master.js"></script>
  <script src="../../app/assets/javascripts/detail.js"></script>
</html>
