<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../app/assets/stylesheets/master_revised.css" />
    <link rel="stylesheet" href="../../app/assets/stylesheets/unit.css" />
    <link rel="stylesheet" href="../../app/assets/stylesheets/master_revised.css" />
    <link rel="stylesheet" href="../../app/assets/stylesheets/org-detail.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
    <link rel="icon" href="../assets/images/FOCUS.png">
    <title>FOCUS</title>
  </head>
  <body>
    <!--スマホ　ヘッダー -->
    <div class="header">
      <img
        class="header__icon"
        src="../assets/images/mocchy-logo2.png"
      />
      <a class="header__title" href="home.html">Mocchy</a>
    </div>

    <main>
      <!-- タイトルはこちら -->
      <div class="detail__title">

        <img
          class="general-info__icon"
          src="../../app/assets/images/FOCUS-logo2.jpg"
          alt="icon"
        />

        <span class="detail__name">南山大学</br>写真団体FOCUS</span>
      </div>

      <!-- 活動写真はこちら -->
      <div class="detail__subtitle">活動を見る</div>
      <div class="detail__wrapper">
        <img
          class="detail__arrowtwo"
          src="https://cdn3.iconfinder.com/data/icons/simple-arrows-essentials/48/v-10-512.png"
        />
        <div class="detail__scroll">
          <img
            class="detail__scr-item"
            src="../../app/assets/images/FOCUS-logo1.jpg"
         />

         <img
           class="detail__scr-item"
           src="../../app/assets/images/FOCUS-logo2.jpg"
        />

        </div>
        <img
          class="detail__arrowone"
          src="https://cdn3.iconfinder.com/data/icons/simple-arrows-essentials/48/v-09-512.png"
        />
      </div>

      <!-- 概要文はこちら -->
      <div class="detail__subtitle">概要を知る</div>
      <div class="detail__desc">
        6月か7月に撮影会を行います。少しでも写真に興味がある方はTwitterのDMにてご連絡ください。カメラを持っていなくても大丈夫です。

      </div>
      <div class="see-more_box">
        <p class="see-more">全て表示</p>
      </div>

      <!-- 概要はこちら -->
      <div class="detail__info">
        <img
          class="detail__icon"
          src="https://image.flaticon.com/icons/svg/59/59252.svg"
          alt="a"
        />
        <span>作成中</span>
        <img
          class="detail__icon"
          src="https://image.flaticon.com/icons/svg/34/34250.svg"
          alt="a"
        />
        <span>作成中</span>
      </div>

            <!-- SNSで繋がるはこちら -->
            <div class="detail__subtitle">SNSで繋がる</div>

            <div class="detail__contact">

              <a class="linkcover" href="https://www.instagram.com/@nanzan_focus/">
                <img class="detail__logo" src="../assets/images/instagram-logo.svg" />
              </a>

                <a class="linkcover" href="https://twitter.com/nanzan_focus">
                  <img class="detail__logo" src="../assets/images/twitter-logo.svg" />
                </a>

              </div>
            </div>

      <!-- メンバーからのひとことはこちら -->
      <div class="detail__subtitle">メンバーからのひとこと</div>
      <div class="comment">
        <img class="comment__icon" src="../../app/assets/images/FOCUS-logo1.jpg" />
        <div class="comment__name">作成中</div>
        <div class="comment__info">作成中</div>
        <p class="comment__title">作成中</p>
        <p class="comment__desc">
          作成中
        </p>
      </div>


      <!-- ハッシュタグはこちら -->
      <div class="detail__subtitle">こんな人におすすめ</div>
      <div class="detail__hashtag">
        <ul>
          <li>＃</li>
          <li>＃</li>
          <li>＃</li>
        </ul>
      </div>

      <!-- SNSで繋がるはこちら -->
      <div class="detail__subtitle">SNSで繋がる</div>
      <div class="detail__contact">

        <a class="linkcover" href="https://www.instagram.com/@nanzan_focus/">
          <img class="detail__logo" src="../assets/images/instagram-logo.svg" />
        </a>

          <a class="linkcover" href="https://twitter.com/nanzan_focus">
            <img class="detail__logo" src="../assets/images/twitter-logo.svg" />
          </a>

        </div>
      </div>

    </main>

    <footer class="footer">
      <img
        src="http://flat-icon-design.com/f/f_event_100/svg_f_event_100_0nbg.svg"
        alt="Mocchy logo"
        class="footer__logo"
      />
    </footer>
  </body>
  <script src="../../app/assets/javascripts/master.js"></script>
  <script src="../../app/assets/javascripts/detail.js"></script>
</html>
