<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../app/assets/stylesheets/unit.css" />
    <link
      rel="stylesheet"
      href="../../app/assets/stylesheets/master_revised.css"
    />
    <link rel="stylesheet" href="../../app/assets/stylesheets/org-detail.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
    <link
      rel="icon"
      href="../assets/images/mocchy-logo2.png"
    />
    <title>Mocchy</title>
  </head>
  <body>
    <!--スマホ　ヘッダー -->
    <div class="header">
      <img
        class="header__icon"
        src="../assets/images/mocchy-logo2.png"
      />
      <a class="header__title" href="home.html">Mocchy</a>
    </div>

    <main>
      <!-- タイトルはこちら -->
      <div class="detail__title">
        <img
          class="general-info__icon"
          src="../assets/images/mocchy-logo.jpeg"
          alt="icon"
        />
        <span class="detail__name">Mocchers<br>(Mocchy運営)</span>
      </div>

      <!-- 活動写真はこちら -->
      <div class="detail__subtitle">活動を見る</div>
      <div class="detail__wrapper">
        <img
          class="detail__arrowtwo"
          src="https://cdn3.iconfinder.com/data/icons/simple-arrows-essentials/48/v-10-512.png"
        />
        <div class="detail__scroll">
          <img class="detail__scr-item" src="../assets/images/mocchy-img1.png" />
          <img class="detail__scr-item" src="../assets/images/mocchy-img8.png" />
          <img class="detail__scr-item" src="../assets/images/mocchy-img5.jpg" />
          <img class="detail__scr-item" src="../assets/images/mocchy-img7.jpg" />
          <img class="detail__scr-item" src="../assets/images/mocchy-img2.jpeg" />
          <img class="detail__scr-item" src="../assets/images/mocchy-img3.jpeg" />
          <img class="detail__scr-item" src="../assets/images/mocchy-img4.jpeg" />
        </div>
        <img
          class="detail__arrowone"
          src="https://cdn3.iconfinder.com/data/icons/simple-arrows-essentials/48/v-09-512.png"
        />
      </div>

      <!-- 概要文はこちら -->
      <div class="detail__subtitle">概要を知る</div>
      <div class="detail__desc">
        Mocchyを開発・運営するチーム(Mocchers・モッチャーズ)のご紹介です！<br /><br />

        ＜活動内容＞<br />
        ①「学生が本気になれる居場所」が見つかるWebサイト・Mocchyの開発💻<br />② 多種多様なイベントの企画✨<br /><br />
        
        ＜Mocchyで出来ること＞<br />
        ⑴ プログラミング🖥<br />
        ⑵ Webデザイン🎨<br />
        ⑶ マーケティング活動🗣<br />
        ⑷ 組織運営🤝<br />
        ⑸ イベント企画・運営<br />
        ⑹ 学生団体へのコンサルティング<br />
        などなど<br /><br />

        スキルは要りません！揺るがないモチベーション、行動力と責任感、そして時間(笑)がある方はぜひご連絡ください😄<br /><br />
       

        〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜<br /><br />

        発足動機は「名古屋の情報格差をどうにかしたい」という想い。<br /><br />

        その第一歩として、南山生が本気になれる団体、イベント、フリーペーパーと巡り合えるようなWebサイトを立ち上げました。<br /><br />

        今後は活動規模をどんどん大きくしていきます！🔥<br />成長したい方、本気になりたい方、名古屋を変えたい方、ご連絡お待ちしています！
      </div>
      <div class="see-more_box">
        <p class="see-more">全て表示</p>
      </div>

      <!-- 概要はこちら -->
      <div class="detail__info">
        <img
          class="detail__icon"
          src="https://image.flaticon.com/icons/svg/59/59252.svg"
          alt="a"
        />
        <span>週7</span>
        <img
          class="detail__icon"
          src="https://image.flaticon.com/icons/svg/34/34250.svg"
          alt="a"
        />
        <span>南山大学、市内のカフェ</span>
      </div>

            <!-- SNSで繋がるはこちら -->
            <div class="detail__subtitle">SNSで繋がる</div>
            <div class="detail__contact">
                <a class="linkcover" href="https://www.instagram.com/mocchy2019/">
                  <img class="detail__logo" src="../assets/images/instagram-logo.svg" />
                </a>
                <a class="linkcover" href="https://twitter.com/Mocchy2019">
                  <img class="detail__logo" src="../assets/images/twitter-logo.svg" />
                </a>
              </div>
            </div>

      <!-- メンバーからのひとことはこちら -->
      <div class="detail__subtitle">メンバーからのひとこと</div>
      <div class="comment">
        <img class="comment__icon" src="../../モッチーについて/S__231111.jpg" />
        <div class="comment__name">伊藤大賀(Co-founder)</div>
        <div class="comment__info">英米学科3年生</div>
        <p class="comment__title">世界の社会問題解決の第一歩</p>
        <p class="comment__desc">
            “Mocchy”は南山の常識を変える一大プロジェクトです。<br>大変だからこそ、メンバーは間違いなく成長します。<br>一緒に大学を変えましょう！！！
        </p>
      </div>
      <div class="comment">
        <img
          class="comment__icon"
          src="../assets/images/mocchy-icon2.jpg"
        />
        <div class="comment__name">長尾　満(Co-Founder)</div>
        <div class="comment__info">アジア学科卒</div>
        <p class="comment__title">CHANGE STARTS HERE</p>
        <p class="comment__desc">
          就活や留学など様々な場面で「名古屋の停滞感」を痛感してきました。<br>
          Mocchersは、そんな名古屋を本気で変えたいと思っています。<br>
          長く険しい道のりですが、一緒に挑戦しませんか？    
        </p>
      </div>

      <!-- ハッシュタグはこちら -->
      <div class="detail__subtitle">こんな人におすすめ</div>
      <div class="detail__hashtag">
        <ul>
          <li>＃ 名古屋を変えたい！</li>
          <li>＃ 本気になれる活動をやりたい！</li>
          <li>＃ ITやビジネスに興味がある！</li>
          <li>＃ 成長したい！</li>
        </ul>
      </div>

      <!-- SNSで繋がるはこちら -->
      <div class="detail__subtitle">SNSで繋がる</div>
      <div class="detail__contact">
          <a class="linkcover" href="https://www.instagram.com/mocchy2019/">
            <img class="detail__logo" src="../assets/images/instagram-logo.svg" />
          </a>
          <a class="linkcover" href="https://twitter.com/Mocchy2019">
            <img class="detail__logo" src="../assets/images/twitter-logo.svg" />
          </a>
        </div>
      </div>
    </main>

    <footer class="footer">
      <img
        src="http://flat-icon-design.com/f/f_event_100/svg_f_event_100_0nbg.svg"
        alt="Mocchy logo"
        class="footer__logo"
      />
    </footer>
  </body>
  <script src="../../app/assets/javascripts/master.js"></script>
  <script src="../../app/assets/javascripts/detail.js"></script>
</html>
