<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../app/assets/stylesheets/unit.css" />
    <link
      rel="stylesheet"
      href="../../app/assets/stylesheets/master_revised.css"
    />
    <link rel="stylesheet" href="../../app/assets/stylesheets/org-detail.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
    <link rel="icon" href="../assets/images/mocchy-logo2.png" />
    <title>ESS</title>
  </head>
  <body>
    <!--スマホ　ヘッダー -->
    <div class="header">
      <img class="header__icon" src="../assets/images/mocchy-logo2.png" />
      <a class="header__title" href="home.html">Mocchy</a>
    </div>

    <main>
      <!-- タイトルはこちら -->
      <div class="detail__title">
        <img
          class="general-info__icon"
          src="../assets/images/ess-logo.png"
          alt="icon"
        />
        <span class="detail__name">ESS</span>
      </div>

      <!-- 活動写真はこちら -->
      <div class="detail__subtitle">活動を見る</div>
      <div class="detail__wrapper">
        <img
          class="detail__arrowtwo"
          src="https://cdn3.iconfinder.com/data/icons/simple-arrows-essentials/48/v-10-512.png"
        />
        <div class="detail__scroll">
          <img class="detail__scr-item" src="../assets/images/ess-img1.jpg" />
        </div>
        <img
          class="detail__arrowone"
          src="https://cdn3.iconfinder.com/data/icons/simple-arrows-essentials/48/v-09-512.png"
        />
      </div>

      <!-- 概要文はこちら -->
      <div class="detail__subtitle">概要を知る</div>
      <div class="detail__desc">
        南山大学ESSはスピーチ・ディベート・ディスカッション・ドラマ・ガイドの５つのセクションに分かれて活動しています。<br />自分に合ったセクションを見つけて英語を楽しんでいきましょう！
      </div>
      <div class="see-more_box">
        <p class="see-more">全て表示</p>
      </div>

      <!-- 概要はこちら -->
      <div class="detail__info">
        <img
          class="detail__icon"
          src="https://image.flaticon.com/icons/svg/59/59252.svg"
          alt="a"
        />
        <span>週２回〜(セクションにより異なる)</span>
        <img
          class="detail__icon"
          src="https://image.flaticon.com/icons/svg/34/34250.svg"
          alt="a"
        />
        <span>南山大学</span>
      </div>

      <!-- SNSで繋がるはこちら -->
      <div class="detail__subtitle">SNSで繋がる</div>
      <div class="detail__contact">
        <a class="linkcover" href="https://twitter.com/ess2019_">
          <img class="detail__logo" src="../assets/images/twitter-logo.svg" />
        </a>
      </div>

      <!-- メンバーからのひとことはこちら -->
      <div class="detail__subtitle">メンバーからのひとこと</div>
      <div class="comment">
        <img class="comment__icon" src="../assets/images/ess-icon1.jpg" />
        <div class="comment__name">後藤大輝</div>
        <div class="comment__info">南山経済学部経済学科</div>
        <p class="comment__title">英語が大好きになりました</p>
        <p class="comment__desc">
          僕は英語が嫌いで、英語とはかけ離れた人生でした。
          しかしESSで英語を使ううちに英語が話せるようになり、英語が大好きになりました。
          さらに今では多くの留学生と友達になることが出来ました。
        </p>
      </div>
      <div class="comment">
        <img class="comment__icon" src="../assets/images/ess-icon2.jpg" />
        <div class="comment__name">中島正人</div>
        <div class="comment__info">人文学部人類学科</div>
        <p class="comment__title">いぃぃいいえすえすぅう！</p>
        <p class="comment__desc">
          ある日、1枚のびらを受け取りESSの食事会に行った。そして入部し1年生の時から学祭のリーダーなど経験し最終的にはプレジデントまで上り詰めた。
          今ではその経験を生かし起業をしている。人生がESSで変わった。
        </p>
      </div>
      <div class="comment">
        <img class="comment__icon" src="../assets/images/ess-icon3.jpg" />
        <div class="comment__name">池田紗玖良</div>
        <div class="comment__info">南山国際教養学部</div>
        <p class="comment__title">アットホームな雰囲気です</p>
        <p class="comment__desc">
          ガイドセクションに所属し、日々楽しく活動しています。
          先輩方や同期と準備を重ね、外国人の方を英語でガイドできた時はとてもやりがいを感じました。
          学年を問わず、仲が深められる素敵なサークルです！
        </p>
      </div>

      <!-- ハッシュタグはこちら -->
      <div class="detail__subtitle">こんな人におすすめ</div>
      <div class="detail__hashtag">
        <ul>
          <li>＃英語/異文化に興味がある人</li>
          <li>＃自分を表現したい人</li>
        </ul>
      </div>

      <!-- SNSで繋がるはこちら -->
      <div class="detail__subtitle">SNSで繋がる</div>
      <div class="detail__contact">
        <a class="linkcover" href="https://twitter.com/ess2019_">
          <img class="detail__logo" src="../assets/images/twitter-logo.svg" />
        </a>
      </div>
    </main>

    <footer class="footer">
      <img
        src="http://flat-icon-design.com/f/f_event_100/svg_f_event_100_0nbg.svg"
        alt="Mocchy logo"
        class="footer__logo"
      />
    </footer>
  </body>
  <script src="../../app/assets/javascripts/master.js"></script>
  <script src="../../app/assets/javascripts/detail.js"></script>
</html>
