<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../app/assets/stylesheets/unit.css" />
    <link
      rel="stylesheet"
      href="../../app/assets/stylesheets/master_revised.css"
    />
    <link rel="stylesheet" href="../../app/assets/stylesheets/org-detail.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
    <link
      rel="icon"
      href="../assets/images/mocchy-logo2.png"
    />
    <title>少林寺拳法部 詳細ページ</title>
  </head>
  <body>
    <!--スマホ　ヘッダー -->
    <div class="header">
      <img
        class="header__icon"
        src="../assets/images/mocchy-logo2.png"
      />
      <a class="header__title" href="home.html">Mocchy</a>
    </div>

    <main>
      <!-- タイトルはこちら -->
      <div class="detail__title">
        <span class="detail__name">少林寺拳法部</span>
      </div>

      <!-- 活動写真はこちら -->
      <div class="detail__wrapper">
        <div class="detail__scroll">
            <a href="../assets/images/少林寺拳法部-paper1.jpg" " data-lightbox="abc" data-title="画像拡大">
            <img class="detail__scr-item" src="../assets/images/少林寺拳法部-paper1.jpg" /></a>
        </div>
      </div>

      <br/><br/>

      <div class="detail__desc">
        この団体の詳細情報は後日追加します！✨
      </div>

      <!-- SNSで繋がるはこちら -->
      <div class="detail__subtitle">SNSで繋がる</div>
      <div class="detail__contact">
        <a class="linkcover" href="">
          <img class="detail__logo" src="../assets/images/instagram-logo.svg" />
        </a>
        <a class="linkcover" href="">
          <img class="detail__logo" src="../assets/images/facebook-logo.png" />
        </a>
        <a class="linkcover" href="">
          <img class="detail__logo" src="../assets/images/twitter-logo.svg" />
        </a>
      </div>
    </main>

    <footer class="footer">
      <img
        src="http://flat-icon-design.com/f/f_event_100/svg_f_event_100_0nbg.svg"
        alt="Mocchy logo"
        class="footer__logo"
      />
    </footer>
  </body>
  <script src="../../app/assets/javascripts/master.js"></script>
  <script src="../../app/assets/javascripts/detail.js"></script>
</html>
